# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\USER\OneDrive\Desktop\DSA Implementations\Week1\week-1-list-complexity-josephine_samwel_modester_cohort2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
